section {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

section .page-container {
    position: relative;
    top: 25%;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}

section.page2 {
    background-color: yellow;
}

section.page3 {
    background-color: green;
}

.site-wrapper {
    height: 100% !important;
    margin: 0 auto;
    overflow: hidden;
}

ul.onepage-pagination {
    left: 10px;
    right: unset;

    li {
        a {
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: #fff;
                border: 2px solid #fff;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                transition: all .3s;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
            }

            &.active, &:hover {
                &:before {
                    width: 10px;
                    height: 10px;
                    border: 2px solid #fbdb9c;
                    background: none;
                    left: unset;
                    margin-top: unset;
                }
            }
        }
    }
}

@font-face {
    font-family: 'American Sans Regular';
    src: url('../fonts/UTM American Sans Regular.eot');
    src: local('☺'), url('../fonts/UTM American Sans Regular.woff') format('woff'), url('../fonts/UTM American Sans Regular.ttf') format('truetype'), url('../fonts/UTM American Sans Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Sarabun', sans-serif;
}
@mixin textWithEllipsis($fontSize, $lineHeight, $line) {
    font-size: $fontSize+px;
    line-height: $lineHeight;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: ($fontSize * $lineHeight * $line)+px;
}

@mixin responsive($size) {
    @media (max-width: #{$size}px) {
        @content;
    }
}

@import "../sass/template-experience";
@import "../sass/template-about-us";
@import "../sass/template-section-1";
@import "../sass/template-section-2";
@import "../sass/template-section-3";
@import "../sass/template-section-4";
@import "../sass/template-section-5";
@import "../sass/template-footer";
@import "../sass/template-header";
@import "../sass/template-after-header";
@import "../sass/template-find-shop";

.btn-wrapper {
    a {
        display: inline-block;
        background-color: #fbdb9c;
        font-size: 16px;
        color: rgb(42, 42, 42);
        font-weight: 300;
        padding: 11px 21px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;

        &.text-uppercase {
            text-transform: uppercase;
        }

        &:hover {
            background-color: #8D0708;
            color: #fff;
        }
    }
}