.template-experience {
  padding: 190px 0 160px 0;
  background-color: #17181a;
  background-image: url(../images/bg-experience.png);
  background-position: center -300px;
  background-repeat: no-repeat;
  color: #FFF;
  margin-bottom: 30px
  a {
    color: #FFF;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  @media screen and (min-width: 1310px) {
    .container {
      width: 1310px;
    }
  }

  ul.tab-experience {
    justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 45px;
    li {
      a {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 0;
        position: relative;
        font-weight: 400;
        font-size: 20px;
        padding: 10px 55px;
        &:before{
          content: '';
          height: 3px;
          position: absolute;
          bottom: -2px;
          width: 0;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          background-color: #fbdb9c;
          left: 0;
        }
        &.active {
          color: #fbdb9c;
          background-color: transparent;
          &:before{
            width: 100%;
          }
        }
        &:hover{

        }
      }
    }
  }

  .experience-top-item{
    a.color-experience{
      color: #fbdb9c;
    }
    .title-experience a{
      display: block;
      text-decoration: none;
      font-size: 40px;
      font-family: 'UTM American Sans', sans-serif;
      position: relative;
      padding: 30px 0;
      &:before{
        content: '';
        width: 190px;
        height: 6px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .experience-information, .experience-image{
      width: calc(50% - 15px);
    }
    .description{
      max-width: 490px;
      margin: 40px 0;
      width: 100%;
      font-size: 18px;
      line-height: 1.4;
    }
    a.viewmore{
      font-size: 22px;
      border: 1px solid #fbdb9c;
      height: 65px;
      width: 245px;
      display: block;
      font-weight: 300;
      color: #fbdb9c;
      &:hover{
        background-color: #fbdb9c;
        color: #FFF;
        text-decoration: none;

      }
    }
  }
}