section.sec-3 {
    background: url(../images/sec-3-bg.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    position: relative;
}