.footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive(768) {
        background: #ffe4b0;
    }

    .left-area {
        ul {
            display: flex;
            height: 100%;

            li {
                display: inline-block;
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
                font-size: 16px;
                @include responsive(600) {
                    font-size: 12px;
                    margin: 0 5px;
                }

                .line {
                    color: #ddb965;
                    display: inline-block;
                    margin: 0 12px 0 17px;
                    font-size: 18px;
                    bottom: 0;
                    position: relative;
                    @include responsive(600) {
                        display: none;
                    }
                }

                span.color {
                    color: #ddb965;
                }

                a {
                    padding: 32px 0;
                    display: inline-block;
                    color: #fff;
                    @include responsive(600) {
                        padding: 15px 0;
                    }
                }

                &:first-child {
                    background: #ffe4b0;
                    position: relative;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    margin-right: 55px;
                    @include responsive(768) {
                        margin: 0 12px 0 17px;
                    }
                    @include responsive(600) {
                        margin: 0 5px;
                    }

                    a {
                        color: #000;
                        display: block;
                        padding: 32px 76px;
                        transition: all .3s;
                        -webkit-transition: all .3s;
                        -o-transition: all .3s;
                        @include responsive(768) {
                            padding: 32px 0;
                        }
                        @include responsive(600) {
                            padding: 15px 0;
                        }
                    }

                    &:after {
                        content: "";
                        border-bottom: 83px solid #ffe4b0;
                        border-right: 38px solid transparent;
                        position: absolute;
                        right: 0;
                        top: 0;
                        transform: translateX(100%);
                        @include responsive(768) {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    .right-area {
        @include responsive(600) {
            display: none;
        }

        ul {
            padding-right: 50px;
            display: flex;
            align-items: center;

            li {
                margin: 0 6px;

                a {
                    display: inline-block;
                }
            }
        }
    }
}