section.sec-3 {
    background: url(../images/sec-3-bg.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    position: relative;

    .cup {
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        z-index: 0;
    }

    .page-container {
        top: 14%;

        .sec-3-content {
            text-align: center;

            .title, .sub-title {
                font-size: 20px;
                text-transform: uppercase;
                color: #fff;
                margin: 6px 0;
                font-weight: 700;
                @include responsive(480) {
                    font-size: 18px;
                }

                &.color {
                    color: #fbdb9c;
                    margin-bottom: 73px;
                    @include responsive(600) {
                        margin-bottom: 30px;
                    }
                }
            }

            .number {
                font-size: 104px;
                color: #fbdb9c;
                line-height: 1.4;
                @include responsive(600) {
                    font-size: 70px;
                }
                @include responsive(480) {
                    font-size: 40px;
                }
            }

            .text {
                font-size: 18px;
                text-transform: uppercase;
                color: #fff;
                line-height: 1.4;
                @include responsive(480) {
                    font-size: 14px;
                }
            }

            .btn-wrapper {
                margin-top: 50px;
            }
        }
    }
}